{% extends 'mainapp/base.html' %}
{% load static %}
{% block menu %}
       {% include 'mainapp/include/inc_menu.html' %}
{% endblock %}
        {% block content %}
           <div class="measurements">
               <h2>Измерение высоты взлива нефтепродукта</h2>
                <h5>Измерение высоты взлива производится с точностью до 1 мм.</h5>
                <p>Метршток (рулетку) плавно опускают до касания днища резервуара, не допуская отклонения от вертикального положения, не задевая внутреннего оборудования, не создавая воли нефтепродукта и ударов об днище резервуара.</p>
                <h3>Замер выполняется в два этапа:</h3>
                <h4>Первый замер:</h4>
                <p>- выполняют измерение базовой высоты резервуара, и одновременно фиксируют уровень НП (первый замер) и наличие подтоварной воды с применением бензочувствительной и водочувствительной пасты;<br>- полученное значение базовой высоты сравнивают с указанным на резервуаре (нанесен трафарет). Если значение базовой высоты превышает допустимые значения (указаны на резервуаре), доложить начальнику смены для принятия решения.</p><br><br><br>
                <h4>Второй замер:</h4>
                <p>-производится измерение высоты взлива нефтепродукта (второй замер).<br>Если результаты измерений (первый и второй замер) отличаются не более чем на 1 мм, то принимается большее значение<br>Если полученный результат измерений (первый и второй замер) отличается более чем на 1 мм, измерения проводят еще дважды (третий и четвёртый замер и берется среднее по трем наиболее близким измерениям (с округлением до 1мм.)</p><br><br><br>
                <h4>Пример:</h4>
                <p>Первый замер – 52118 мм. второй замер-5216 мм. третий замер – 5217 мм. четвертый замер – 5215 мм., т.к. первый замер и второй замер отличаются более чем на 1 мм. выполнили третий и четвертый замер.<br> Берем три наиболее близких значения: 5216, 5217, 5215.<br> Находим среднее значение (с округлением до 1 мм.) 5216 мм.</p>
           </div>
           <div class="measurements">
               <h2>Измерение плотности и температуры нефтепродукта</h2>
                <h5>Измерение плотности производится с точностью до 0,1 кг/м3, измерение температуры с точностью до 0,1 С</h5>
                <h5>Измерение плотности и температуры производится в следующих точках:</h5>
                <p>- 1-й замер температуры и плотности на (РВС-250 мм., РГС-200 мм.) ниже поверхности нефтепродукта в резервуаре.<br>- 2-й замер температуры и плотности со среднего уровня.<br>- 3-й замер температуры и плотности на 250 мм выше днища.</p><br>
                <h4>РГС:</h4>
                <h5>Для резервуаров диаметром менее 2500 мм. Значения рассчитываются по формуле:</h5>
                <p>Температура = 3-й замер +3х(2-й замер) разделить на 4<br>Плотность = 3-й замер+3х(2-й замер) разделить на 4</p>
                <h5>Для остальных резервуаров РГС</h5>
                <p>Температура = 1-й замер + 6х(2-й замер) + 3-й замер разделить на 8<br>Плотность = 1-й замер + 6х(2-й замер) + 3-й замер разделить на 8</p>
                <h4>РВС:</h4>
                <h5>Если высота уровня нефтепродукта более 2000мм</h5>
                <p>Температура = 1-й замер + 3х(2-й замер) + 3-й замер разделить на 5<br>Плотность = 1-й замер + 3х(2-й замер) + 3-й замер разделить на 5</p>
                <h5>Если высота уровня нефтепродукта от 1000 мм. До 2000 мм.</h5>
                <p>Температура = 1-й замер + 3-й замер разделить на 2<br>Плотность  = 1-й замер + 3-й замер разделить на 2</p>
                <h5>Если высота уровня нефтепродукта менее 1000 мм.</h5>
                <p>Температура = 1-й замер<br>Плотность = 1-й замер</p>
           </div>
            <div class="clearfix">
            </div>
{% endblock %}