{% extends 'mainapp/base.html' %}
{% load static %}
{% block menu %}
       {% include 'mainapp/include/inc_menu.html' %}
{% endblock %}
{% block content %}
<div class="result">
        <div class="forma">
            <form method="POST" action=" ">
                {% csrf_token %}
                    <label>Дата</label>
                    <select name="pub_date">
                        {% for i in date_list %}
                            <option>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Показать">
            </form>
        </div>
                <div class="clearfix">
                </div>
                <h2>Список резервуаров {{ sort_data_now }}</h2>
                    <table>
                        <tr>
                            <th>Дата</th>
                            <th>Id</th>
                            <th>Название</th>
                            <th>Взлив</th>
                            <th>Плотность верх</th>
                            <th>Плотность середина</th>
                            <th>Плотность низ</th>
                            <th>Температура верх</th>
                            <th>Температура середина</th>
                            <th>Температура низ</th>
                            <th>Вода</th>
                            <th>Расчет объема</th>
                            <th>Удалить</th></tr>
                                {% for sort in sort_list %}
                                <tr>
                                        <td>{{ sort.pub_date }}</td>
                                        <td>{{ sort.id }}</td>
                                        <td>{{ sort.name }}</td>
                                        <td>{{ sort.height }}</td>
                                        <td>{{ sort.density_3 }}</td>
                                        <td>{{ sort.density_2 }}</td>
                                        <td>{{ sort.density_1 }}</td>
                                        <td>{{ sort.temperature_3 }}</td>
                                        <td>{{ sort.temperature_2 }}</td>
                                        <td>{{ sort.temperature_1 }}</td>
                                        <td>{{ sort.water }}</td>
                                        <td>{{ sort.calculations }}</td>
                                        <form method="POST" action="delete/">
                                        {% csrf_token %}
                                        <td><a href="delete/{{sort.id}}">Удалить</a></td>
                                        </form>
                                </tr>
                            {% endfor %}
                    </table>
                    <p> Итого в резервуарах: {{ summa_obj }}</p>

            <div class="clearfix">
            </div>
        </div>
{% endblock %}